<?xml version="1.0" ?>
<!--
/**
 * @author Maciej Piatek
 * @copyright Copyright (c) PMP IT SOLUTIONS
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add cms block into pdf invoice -->
    <type name="Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="pmp_insert_pdf_invoice_block" type="Pmp\InvoiceBlock\Plugin\InsertPdfInvoiceBlock" />
    </type>
</config>
